.searchbutton{
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: large;
    border-radius: 5px;
    text-decoration: normal;
    cursor: pointer;
    &:hover {
        background-color: red;
        color: white;
    }
}