.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bgimage{
  background-image: url('https://bobvirtualtours.com/cdn/shop/articles/teamwork-of-the-staff-picture-id1133385963_1024x591.jpg?v=1574283959');
}
