@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=WindSong:wght@400;500&display=swap');

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.windsong-medium {
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-size: 2rem;
}
.footerlogo{
  width: 300px;
  height: auto;
}
.bgimage{
  height: 64rem;
  width: 100%;
  background-image: url("https://res.cloudinary.com/codercloud/image/upload/v1762658178/Black_and_White_Trendy_Modern_Feminine_Photo_Collage_Desktop_Wallpaper_ziqldz.png");
}

.blog-button{
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: large;
  border-radius: 5px;
  text-decoration: normal;
  cursor: pointer;
  &:hover {
    background-color: red;
  }
}

.bgfooter{
  background-color: #f3f4f6;
}
.nav-font-size{
  font-size: 1rem;
  &:hover {
    color: red;
  }
}
.searchbutton{
  &:hover {
    cursor: pointer;
  }
}
.bgaboutimage{
  background-image: url("https://res.cloudinary.com/codercloud/image/upload/v1762655971/Green_Orange_Modern_Simple_India_Travel_Vlog_Youtube_Thumbnail_qaa3dq.png");
  background-size: cover;
  background-position: center;
  color: white;
}
